<!-- views/partials/header.ejs -->


<nav class="navbar navbar-default navbar-fixed-top">

    <div class="container">

        <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">BSC UI</a>
        
        </div>
        <div id="navbar" class="navbar-collapse collapse">

            <ul class="nav navbar-nav">
                <li><a href="/">Seznam poznamek</a></li>
                <li><button class="btn btn-primary navbar-btn" href="/nova-poznamka"  onclick="window.location.href='/nova-poznamka';"><span class="glyphicon glyphicon-plus"></span>&nbsp;Pridat novou poznamku</button></li>
            </ul>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">CZ</a></li>
                <li><a href="#">EN</a></li>
            </ul>

        </div>
        
    </div><!-- container -->

</nav>