<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>eValue for BSC</title>

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>

<link href="css/bootstrap.min.css" rel="stylesheet">

<style>

    body { 
        min-height: 2000px;
        padding-top: 70px;
    }
    
    .panel-heading a:after {
        font-family:'Glyphicons Halflings';
        content:"\e114";
        float: right;
        color: grey;
    }
    
    .panel-heading a.collapsed:after {
        content:"\e080";
    }

    #footer{
        padding-top: 5em;
    }

</style>