<div ng-show="lang=='cz'" id="divInsertForm">
<a ui-sref="/" class="btn btn-primary"><span class="glyphicon glyphicon-list"></span>&nbsp;Seznam poznamek</a>
<h1>Oprava poznamky</h1>

<form role="form">
    <div class="form-group">
        <input ng-model="note.title" type="text" class="form-control" id="title" name="title">
    </div>
    <button ng-click="saveNote(note)" type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-saved"></span>&nbsp;Uloz poznamku</button>
</form>

</div>

<div ng-show="lang=='en'" id="divInsertForm">
<a ui-sref="/" class="btn btn-primary"><span class="glyphicon glyphicon-list"></span>&nbsp;List of notes</a>
<h1>Edit note</h1>

<form role="form">
    <div class="form-group">
        <input ng-model="note.title" type="text" class="form-control" id="title" name="title">
    </div>
    <button ng-click="saveNote(note)" type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-saved"></span>&nbsp;Save note</button>
</form>

</div>