<!DOCTYPE html>
<html lang="cz" ng-app="app">

<head>
    <% include ../partials/head %>
</head>

<body ng-controller="ctrl">

<% include ../partials/navigace %>
<div class='container'>

<div ui-view></div>  
</div><!-- container -->

</body>
</html>