<!DOCTYPE html>
<html lang="cz">

<head>
    <% include ../partials/head %>
</head>

<body>

    <% include ../partials/header %>

    <div class='container'>
        
        <h1>Nova poznamka</h1>

        <form role="form">

            <div class="form-group">
                <label for="nazev">Nazev poznamky</label>
                <input type="text" class="form-control" id="nazev" placeholder="Zadek kratky popis poznamky">
            </div>

            <div class="form-group">
                <label for="text">Poznamka</label>
                <textarea class="form-control" rows="7" id="text" placeholder="Zadek text sve poznamky."></textarea>
            </div>
            
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Vlozit poznamku</button>

        </form>

        <% include ../partials/footer %>
        
    </div>
    
</body>
</html>